[Unit]
Description=Plymouth displays all changes with a modern output during system shutdown or reboot
DefaultDependencies=no
Before=shutdown.target reboot.target
After=plymouth-start.service

[Service]
Type=simple
User=sys-plymouthd
ExecStart=/sbin/sys-plymouthd
Restart=always

ExecStopPost=/bin/bash -c 'while ! systemctl is-active --quiet display-manager.service; do /sbin/plymouth_bootwatchd; sleep 1; done; systemctl stop plymouth-monitor.service'

[Install]
WantedBy=shutdown.target reboot.target
